* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins";
}

:root {
    --primary-color: #0f1b4c;
}

/* common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    background: #0f1b4c;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
    padding: 18px 16px;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    /*css nay dung de khi chu nhieu thi co dinh so dong va hien dau ...*/
    display: -webkit-box;
    -webkit-line-clamp: var(
        --line-clamp,
        2
    ); /*dung bien va, cho 1 gia tri ban dau la 2*/
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ================= Header =================== */
.header {
    position: relative;
    background: #e6f0ff;
    height: 100vh;
    width: 100vw;
}

.header .navbar {
    display: flex;
    padding-top: 38px;
    align-items: center;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a {
    padding: 8px 14px;
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.header .action {
    margin-left: auto;
}

.header .action-link {
    padding-right: 18px;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.header .action-btn {
    padding: 13px 16px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.19;
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
}

.hero .hero-cta {
    margin-top: 40px;
    min-width: 170px;
    font-size: 1.3rem;
    line-height: 20px;
}

.hero .hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}
/*  

*/
/* ================= Clients =================== */
.clients {
    margin-top: 79px;
    padding: 43px 0 41px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.clients .images {
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ================= Guides =================== */

.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guides .sub-title::before {
    position: absolute;
    content: "";
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.guides .desc {
    margin: 20px auto 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5a6473;
    width: 459px;
    max-width: 100%;
}

.guides .list-guide {
    display: flex;
    margin-top: 70px;
    justify-content: center;
}

.guides .guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    color: #3b3c45;
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
    color: #0689ff;
}

.guide-item .arrow {
    margin-left: 6px;
}

.guide-cta {
    margin-top: 50px;
    border-radius: 12px;
    font-size: 1.3rem;
    line-height: 20px;
    display: flex;
    justify-content: center;
}

.guide-cta .btn {
    min-width: 170px;
}

/* ================= Featured =================== */
.features {
    margin-top: 41px;
    padding-top: 110px;
    background: #f5fafe;
}

.features .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.features .row {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.features .link {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #0689ff;
}

.features .link .arrow {
    margin-left: 8px;
}

.features .list {
    display: flex;
    margin-top: 70px;
    padding-bottom: 110px;
    gap: 30px;
}

.features .item {
    flex: 1;
    background: #fff;
    border-radius: 12px;
}

.features .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.features .body {
    margin: 17px 20px 24px;
}

.features .title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #000339;
}

.features .desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
}

.features .info {
    margin-top: 23px;
    display: flex;
    align-items: center;
}

.features .info .icon {
    margin-left: 23px;
}

.features .info .icon:first-child {
    margin-left: 0;
}

.features .info .label {
    margin-left: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.01em;
    color: #4d4d52;
}

/* ================= Stats =================== */
.stats {
    margin-top: 75px;
}

.stats .content {
    width: 1017px;
    padding: 50px 0;
}

.stats .row {
    display: flex;
}

.stats .img-block {
    position: relative;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    height: 460px;
    width: 400px;
    object-fit: cover;
}

.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    background-color: beige;
    padding: 45px 23px 41px 22px;
    border-radius: 0px 0px 12px 12px;
}

.stats-trend .value {
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats-trend .icon {
    margin-left: auto; /*binh thuong neu the cha cua no khong co display flex 
    phai them display block thi moi margin duoc*/
}

.stats-trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}

.stats-trend .separate {
    height: 1.2px;
    margin-top: 25px;
    background: #000;
}

.stats-trend .avatar-block {
    display: flex;
    padding-top: 26px;
    flex-wrap: wrap;
    gap: 16px 14px;
}

.stats-trend .avatar-group {
    display: flex;
}

.stats-trend .avatar {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -3px;
}

.stats-trend .avatar:first-child {
    margin-left: 0;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .info .sub-title {
    position: relative;
    display: block;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}

.stats .info .sub-title::before {
    content: "";
    position: absolute;
    width: 41px;
    height: 4px;
    top: -10px;
    background: #000339;
    border-radius: 12px;
}

.stats .info .desc {
    display: block;
    margin-top: 20px;
    width: 309px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.stats .row-qty {
    margin-top: 110px;
    justify-content: space-between;
    padding: 0 32px;
}

.stats .qty {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
}

.stats .qty-desc {
    margin-top: 22px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #7b8087;
}

/* ================= Subcriptions =================== */
.subs {
    margin-top: 90px;
}

.subs .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    background: #063183;
    border-radius: 20px;
}

.subs .info {
    width: 670px;
    padding: 0 80px;
}

.subs .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #ffffff;
}

.subs .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #ffffff;
    opacity: 0.75;
}

.subs .btn {
    margin-top: 20px;
    min-width: 151px;
    background: #ffffff;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color: #002366;
}

.subs .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* ================= Footer =================== */
.footer {
    margin-top: 55px;
    padding: 50px 0 55px;
}

.footer .row-top {
    display: flex;
    gap: 185px;
}

.footer .heading {
    font-family: "Labo", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1c1c1d;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .list li {
    margin-top: 18px;
}

.footer .list a {
    font-weight: 400;
    font-size: 1.6rem;
    color: #7a7a7e;
    white-space: nowrap;
}

.footer .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #7a7a7e;
}

.footer .social {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 34px;
    height: 28px;
    background: #fff;
}

.footer .row-bottom {
    margin-top: 81px;
    display: flex;
    align-items: center;
}

.footer .copyright {
    margin-left: auto;
    font-weight: 400;
    font-size: 1.4rem;
    color: #c2c2c2;
}
